<div class="profile-page d-flex justify-content-center">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="container photo-profile">
        <div class="content-center">
          <div class="cc-profile-image d-flex justify-content-center">
            <a href="#">
              <img class="rounded-circle" src="assets/images/denisi.jpg" style="width:120px; height:150px;"
                alt="Denis Shtupa" />
            </a>
          </div>
          <div class="h2 title d-flex justify-content-center">Denis Shtupa</div>
          <p class="category text-black d-flex justify-content-center">Full-Stack Developer</p>
          <a class="btn btn-primary smooth-scroll mr-2 d-flex justify-content-center" [style.margin-left]="'8px'" href="#contact">Contact me</a>
          <!-- <button class="btn btn-primary" [disabled]="true" title="Contact me with email to have my CV" href="https://drive.google.com/file/d/1p2uzC8lY4BmaEjeFrXlzHDoKZKGjlmPv/view?usp=sharing"
            target="_blank">Ask me for CV</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
