header {
  //   height: 120vh;
  //   min-height: 300px;
  background-size: cover;
  -webkit-box-shadow: inset 4px 4px 16px 3px #E6E7FF;
  box-shadow: inset 4px 4px 16px 3px #E6E7FF;
}

.hidden-spacer {
  height: 56px
}

a {
  text-decoration: none !important;
}

.grid-movie-cards {
  border-radius: 15px;
  box-shadow: 2px 2px 15px 4px #46cff1 !important;
  background-color: #006074 !important;
  font-style: oblique;
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 40px;
  grid-row-gap: 45px;
  padding: 35px;
}

.project-cards {
  max-width: 365px;
  margin: 7px;
  border: 1px solid #0f25eb;
  padding: 5px;
  box-shadow: 2px 2px 15px 4px #88889A;
}

.photo-profile {
  margin-top: 20px;
  border-radius:10px;
  padding: 10px;
  box-shadow: 2px 2px 15px 4px #79c5d8;
}

#profile-about-card {
  border-radius: 15px !important;
  box-shadow: 2px 2px 15px 4px #79c5d8 !important;
  margin-top: 25px;
}

#profile-skills-card {
  border-radius: 15px !important;
  box-shadow: 2px 2px 15px 4px #79c5d8 !important;
  margin-top: 25px;
}

#profile-contact-card {
  border-radius: 15px !important;
  box-shadow: 2px 2px 15px 4px #79c5d8 !important;
  margin-top:25px;
}

.project-card {
  position: relative;
  cursor: pointer;
  border-radius: 15px;
  animation: fontbulger 4s 1 backwards;
  transition: 0.6s;
  background-color: #6696a1;
  color: #005073;
  width: 320px;
  height: 520px
}

.project-card:hover {
  opacity: 0.85;
  transition: transform .5s ease;
  transform: scale(1.05);
  border-radius: 15px;
}

#profile-skills-card > div > div > div {
  padding: 10px !important;
  line-height: 50px !important;
}

// phones
@media (min-width: 300px) and (max-width: 450px) {
  /* CSS */

  .project-card{ 
    width:103%;
  }

  .photo-profile {
    margin-top: 40px;
  }
  
  .button-container {
    width: 117%;
    margin: -7px !important;
    padding: 0px !important;
    left: -10px;  }
}


.project-poster>img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.project-title {
  text-align: center !important;
  margin-top: 15px !important;

  h4 {
    text-transform: uppercase !important;
    margin-bottom:20px;
  }
}

.button-container {
  padding-top: 20px;
  padding-left:10px;  
  margin:15px;
}
