header {
//   height: 120vh;
//   min-height: 300px;
  background-size: cover;
  -webkit-box-shadow: inset 4px 4px 16px 3px #E6E7FF;
  box-shadow: inset 4px 4px 16px 3px #E6E7FF;
}

.hidden-spacer {
  height: 56px
}
