<div class="section" id="about" [style.margin-top]="'40px'">
  <div class="container">
    <div class="card" id="profile-about-card">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body" style="text-align: justify; font-size: 18px">
            <p>
              <i
                class="fa fa-hand-paper-o hi-five"
                style="
                  font-size: 33px;
                  color: rgba(16, 235, 8, 0.5);
                  cursor: pointer;
                "
              ></i>
              Hello. I am <strong>Denis Shtupa</strong>, born on
              Pogradec(Albania). Graduated as Master of Science in electronic engineering.
            </p>

            <p>
              Experienced Frontend Engineer (React & Angular) with a proven track record of successfully delivering projects. My expertise lies in the modern Frontend tech stack, with a strong focus on React & Angular. Throughout my career, I have contributed to a variety of projects, ranging from small to large in scale. Each workday presents unique challenges, which I embrace as opportunities for professional growth and development. I am details oriented and I always aim for perfection.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body" style="margin-top: 30px">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Email:</strong>
              </div>
              <div class="col-sm-8">denis.shtupa@gmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Address:</strong>
              </div>
              <div class="col-sm-8">80469 München</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Languages:</strong>
              </div>
              <div class="col-sm-8">Albanian, English, Deutsch(beginner)</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
