<div class="section" id="contact" [style.margin-top]="'40px'">
  <div class="container">
    <div class="h4 text-center title">Contact Me</div>
    <div class="card" id="profile-contact-card">
      <div class="row">
        <div class="col-md-6">
          <div class="card-body">
            <form name="form">
              <div class="p pb-3">
                <strong>Feel free to contact me </strong>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-user-circle"></i>
                    </span>
                    <input class="form-control" type="text" name="name" placeholder="Name" required />
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-file-text"></i>
                    </span>
                    <input class="form-control" type="text" name="subject" placeholder="Subject" required />
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-envelope"></i>
                    </span>
                    <input class="form-control" type="text" name="email" placeholder="E-mail"
                      pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required />
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <div class="form-group">
                    <textarea class="form-control" name="message" placeholder="Your Message" required></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <button class="btn btn-primary" type="submit">Send</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <!-- <p class="mb-0">
              <strong>Phone</strong>
            </p>
            <p class="pb-2">+49 1573 8088718</p> -->
            <p class="mb-0">
              <strong>Email</strong>
            </p>
            <p>denis.shtupa@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
