<nav class="navbar navbar-expand-sm fixed-top " style="background-color: #e3f9fd; font-size:22px;">
  <div class="container" id="header-navbar">
    <div>
      <a class="navbar-brand" href="#">Portfolio</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="spacer"></div>
    <div class="collapse navbar-collapse" id="navbar1">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link smooth-scroll" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link smooth-scroll" href="#experience">Experience</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link smooth-scroll" href="#projects">Projects</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link smooth-scroll" href="#skills">Skills</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link smooth-scroll" href="#education">Education</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link smooth-scroll" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
