<div class="section" id="projects">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Projects</div>

    <div class="row">


      <div class="col-md-4 col-sm-6 animate-box project-cards" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img class="card-img-top" src="assets/images/game2.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Rock-Scissors-Paper Game</h4>
              <h5 class="card-text"><b>Technology :</b> Angular8, Angular-material </h5>

              <a href="add live url of game here" target="_blank" class="btn btn-primary stretched-link ml-2 mr-5"
                style="margin:10px;">Live
                demo</a>
              <a href="https://github.com/denisshtupa/rock-paper-scissors-gameapp/tree/denis-dev" target="_blank"
                class="btn btn-primary stretched-link" style="margin:10px;">Github link</a>

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box project-cards" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img class="card-img-top" src="assets/images/game2.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Rock-Scissors-Paper Game</h4>
              <h5 class="card-text"><b>Technology :</b> Angular8, Angular-material </h5>

              <a href="add live url of game here" target="_blank" class="btn btn-primary stretched-link ml-2 mr-5"
                style="margin:10px;">Live
                demo</a>
              <a href="https://github.com/denisshtupa/rock-paper-scissors-gameapp/tree/denis-dev" target="_blank"
                class="btn btn-primary stretched-link" style="margin:10px;">Github link</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box project-cards" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img class="card-img-top" src="assets/images/game2.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Rock-Scissors-Paper Game</h4>
              <h5 class="card-text"><b>Technology :</b> Angular8, Angular-material </h5>

              <a href="add live url of game here" target="_blank" class="btn btn-primary stretched-link ml-2 mr-5"
                style="margin:10px;">Live
                demo</a>
              <a href="https://github.com/denisshtupa/rock-paper-scissors-gameapp/tree/denis-dev" target="_blank"
                class="btn btn-primary stretched-link" style="margin:10px;">Github link</a>

            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>
