<div class="section" id="projects" [style.margin-top]="'40px'">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Projects</div>
    <div class="row">

      <div class="col-md-4 col-sm-6 animate-box project-cards" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img class="card-img-top" style="height: 230px;" src="assets/images/movie-logo.png" alt="Movie logo" style="width:100%">
            <div class="card-body" style="height: 188px;">
              <h4 class="card-title">Movies by genre & cast</h4>
              <h5 class="card-text"><b>Technology:</b> Angular11, SASS </h5><br>
              <a href="add live url of movies here" target="_blank" class="btn btn-primary stretched-link ml-2 mr-5"
                style="margin:10px;">Live demo</a>
              <a href="https://github.com/denisshtupa/movie-db-app" target="_blank"
                class="btn btn-primary stretched-link" style="margin:10px;">Github link</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box project-cards" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img class="card-img-top" style="height: 230px;" src="assets/images/game2.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Rock-Scissors-Paper game</h4>
              <h5 class="card-text"><b>Technology:</b> Angular8, CSS, Angular-material </h5>
              <a href="add live url of game here" target="_blank" class="btn btn-primary stretched-link ml-2 mr-5"
                style="margin:10px;">Live
                demo</a>
              <a href="https://github.com/denisshtupa/rock-paper-scissors-gameapp" target="_blank"
                class="btn btn-primary stretched-link" style="margin:10px;">Github link</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box project-cards" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card"
            style="position: relative;display: -ms-flexbox;display: flex;flex-direction: column; height: 420px; word-wrap: break-word; background-color: #fff; background-clip: border-box; border: 1px solid rgba(0,0,0,.125);">
            <img class="card-img-top" style="height: 230px;" src="assets/images/google-map.png" alt="Google map markers" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Google maps markers</h4>
              <h5 class="card-text"><b>Technology:</b> Angular10, SASS, JS, jQuery </h5>
              <a href="add live url of game here" target="_blank" class="btn btn-primary stretched-link ml-2 mr-5"
                style="margin:10px;">Live
                demo</a>
              <a href="https://github.com/denisshtupa/LimeHome-Challenge" target="_blank"
                class="btn btn-primary stretched-link" style="margin:10px;">Github link</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
