<div class="section" id="projects" [style.margin-top]="'40px'">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Projects</div>


    <div class="grid-movie-cards">

      <div class="project-card">

        <div class="project-poster">
          <img src="assets/images/movie-logo.png" width="100%" height="300" alt="Movie logo" />
        </div>

        <div class="project-title">
          <h4>Movies by genre & cast</h4>
          <h5><b>Technology:</b> Angular 11, SASS </h5>
        </div>

        <div class="button-container" style="padding-top: 40px;">
          <a href="https://moviedb-denis.herokuapp.com/movie-db/new-movies" target="_blank" class="btn btn-primary stretched-link ml-2 mr-5"
            style="margin:10px;">Live demo</a>
          <a href="https://github.com/denisshtupa/movie-db-app" target="_blank" class="btn btn-primary stretched-link"
            style="margin:10px;">Github link</a>
        </div>

      </div>

      <div class="project-card">

        <div class="project-poster">
          <img src="assets/images/game2.png" width="100%" height="300" alt="Game logo" />
        </div>

        <div class="project-title">
          <h4>Rock-Scissors-Paper</h4>
          <h5><b>Technology:</b> Angular 8, CSS, Angular-material </h5>
        </div>

        <div class="button-container">
          <a href="https://rock-paper-scissors-game-app.herokuapp.com/game" target="_blank" class="btn btn-primary stretched-link ml-2 mr-5"
            style="margin:10px;">Live demo</a>
          <a href="https://github.com/denisshtupa/rock-paper-scissors-gameapp" target="_blank"
            class="btn btn-primary stretched-link" style="margin:10px;">Github link</a>
        </div>
      </div>

      <!-- <div class="project-card">

        <div class="project-poster">
          <img src="assets/images/google-map.png" alt="Google map markers" width="100%" height="300" />
        </div>

        <div class="project-title">
          <h4>Google maps markers</h4>
          <h5><b>Technology:</b> Angular10, SASS, JS, jQuery </h5>
        </div>

        <div class="button-container">
          <a title="Available soon" [style.cursor]="'not-allowed'"  disabled class="btn btn-primary stretched-link ml-2 mr-5"
            style="margin:10px;">Live demo</a>
          <a href="https://github.com/denisshtupa/LimeHome-Challenge" target="_blank"
            class="btn btn-primary stretched-link" style="margin:10px;">Github link</a>
        </div>
      </div> -->

    </div>

  </div>
</div>
